<section
  class="section-bg"
  style="background-image: url(/assets/img/cars/car-27-1.webp)"
  data-scroll-index="7"
>
  <div class="overlay pt-100 pb-100">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex align-items-center">
          <div class="contact-info">
            <h2 class="contact-title">Masz jakieś pytania?</h2>
            <p>
              Jeśli masz pytania lub potrzebujesz pomocy, skontaktuj się z nami
            </p>
            <ul class="contact-info">
              <li>
                <div class="info-left">
                  <i class="fas fa-mobile-alt"></i>
                </div>
                <div class="info-right">
                  <h4>123 456 789</h4>
                </div>
              </li>
              <li>
                <div class="info-left">
                  <i class="fas fa-at"></i>
                </div>
                <div class="info-right">
                  <h4>kontakt&commat;carshop.pl</h4>
                </div>
              </li>
              <li>
                <div class="info-left">
                  <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="info-right">
                  <h4>Sławno 76-100, ul. Przykładowa 41</h4>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 d-flex align-items-center">
          <div class="contact-form">
            <!--Contact Form-->
            <form id="contact-form">
              <input type="hidden" name="form-name" value="contactForm" />
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      id="first-name"
                      placeholder="Wpisz swoje imie i nazwisko"
                      required="required"
                    />
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="form-group">
                    <input
                      type="email"
                      name="email"
                      class="form-control"
                      id="email"
                      placeholder="Wpisz adres E-mail"
                      required="required"
                    />
                  </div>
                </div>

                <div class="col-md-12">
                  <div class="form-group">
                    <textarea
                      rows="4"
                      name="message"
                      class="form-control"
                      id="description"
                      placeholder="W czym możemy pomóc?"
                      required="required"
                    ></textarea>
                  </div>
                </div>
                <div class="col-md-12">
                  <!--contact button-->
                  <button (click)="onSubmit()" class="btn-big btn btn-bg">
                    Wyślij <i class="fas fa-arrow-right"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
