<div th:fragment="newsletter" class="row py-5">
  <div class="col newsletter-form">
    <div class="card border-0">
      <div class="card-body text-center">
        <h2><b>Chcesz widzieć więcej podobnych ogłoszeń?</b></h2>
        <p class="pl-0 ml-0 mb-5">Zapisz się do naszego newslettera.</p>
        <div class="row text-center justify-content-center">
          <div class="col-auto">
            <div class="input-group-lg input-group mb-3">
              <input
                id="email-input"
                type="text"
                class="form-control"
                placeholder="Wpisz swój adres e-mail"
                aria-label="Recipient's username"
                aria-describedby="button-addon2"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-success"
                  type="button"
                  id="button-addon2"
                >
                  <b>Zapisz się</b>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="mx-0 px-0" />
