<div class="search-container">
  <div class="search-wrapper">
    <div class="row">
      <form class="search-form">
        <select #brand class="">
          <option value="any">Marka pojazdu</option>
          <option>BMW</option>
          <option>Volkswagen</option>
          <option>Audi</option>
          <option>Ford</option>
          <option value="Mercedes">Mercedes-Benz</option>
          <option>Opel</option>
          <option>Toyota</option>
          <option>Skoda</option>
          <option>Renault</option>
          <option>Peugeot</option>
        </select>
        <select #body class="">
          <option value="sedan">Typ nadwozia</option>
          <option>Coupe</option>
          <option>Kabriolet</option>
          <option>Kombi</option>
          <option>Kompakt</option>
          <option>Minivan</option>
          <option>Sedan</option>
          <option>SUV</option>
        </select>

        <select #priceFrom class="">
          <option value="0">Cena od</option>
          <option value="2000">2 000 PLN</option>
          <option value="3000">3 000 PLN</option>
          <option value="5000">5 000 PLN</option>
          <option value="10000">10 000 PLN</option>
          <option value="15000">15 000 PLN</option>
          <option value="20000">20 000 PLN</option>
          <option value="25000">25 000 PLN</option>
          <option value="30000">30 000 PLN</option>
          <option value="1000000">1 000 000 PLN</option>
        </select>
        <select #priceTo class="">
          <option value="9999999">Cena do</option>
          <option value="2000">2 000 PLN</option>
          <option value="3000">3 000 PLN</option>
          <option value="5000">5 000 PLN</option>
          <option value="10000">10 000 PLN</option>
          <option value="15000">15 000 PLN</option>
          <option value="20000">20 000 PLN</option>
          <option value="25000">25 000 PLN</option>
          <option value="30000">30 000 PLN</option>
          <option value="1000000">1 000 000 PLN</option>
        </select>

        <select #yearProducedFrom class="">
          <option value="1900">Rok produkcji od</option>
          <option>2024</option>
          <option>2023</option>
          <option>2022</option>
          <option>2021</option>
          <option>2020</option>
          <option>2019</option>
          <option>2018</option>
          <option>2017</option>
          <option>2000</option>
        </select>
        <select #fuelType class="">
          <option value="Benzyna">Rodzaj paliwa</option>
          <option>Benzyna</option>
          <option>Benzyna+LPG</option>
          <option>Diesel</option>
          <option>Elektryczny</option>
          <option>Hybryda</option>
          <option>Wodór</option>
        </select>
        <button
          (click)="
            doSearch(
              brand.value,
              +priceFrom.value,
              +priceTo.value,
              body.value,
              fuelType.value,
              +yearProducedFrom.value
            )
          "
          class="btn btn-primary"
        >
          Pokaż 12 329 ogłoszeń
        </button>
      </form>
    </div>
  </div>
</div>
