<section class="plans__container">
  <div class="plans">
    <div class="plansHero">
      <h1 class="plansHero__title">Cennik</h1>
      <p class="plansHero__subtitle">Konta bezpłatne profesjonalne i biznesowe.</p>
    </div>
    <div class="planItem__container">
      <!--free plan starts -->
      <div class="planItem planItem--free">
        <div class="card">
          <div class="card__header">
            <h2><svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-unlock-fill" viewBox="0 0 16 16">
              <path d="M11 1a2 2 0 0 0-2 2v4a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9a2 2 0 0 1 2-2h5V3a3 3 0 0 1 6 0v4a.5.5 0 0 1-1 0V3a2 2 0 0 0-2-2"/>
            </svg>
              Bezpłatne konto</h2>
          </div>
          <div class="card__desc">
            Podstawowe funkcje, dostępne dla każdego użytkownika.
          </div>
        </div>

        <div class="price">0 zł<span>/ miesiąc</span></div>

        <ul class="featureList">
          <li><svg width='18' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'>
            <path d='M16.552.134 5.717 10.97 1.448 6.701 0 8.149l5.717 5.717L18 1.583 16.552.134Z' fill='#EA455F'/>
          </svg>
          1 ogłoszenie</li>
          <li><svg width='18' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'>
            <path d='M16.552.134 5.717 10.97 1.448 6.701 0 8.149l5.717 5.717L18 1.583 16.552.134Z' fill='#EA455F'/>
          </svg>
          Zakładka obserwowane</li>
          <li class="disabled"><svg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'>
            <path d='M18 1.414 16.586 0 9 7.586 1.414 0 0 1.414 7.586 9 0 16.586 1.414 18 9 10.414 16.586 18 18 16.586 10.414 9 18 1.414Z' fill='#B1B8C9'/>
          </svg>
          Wsparcie techniczne</li>
          <li class="disabled"><svg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'>
            <path d='M18 1.414 16.586 0 9 7.586 1.414 0 0 1.414 7.586 9 0 16.586 1.414 18 9 10.414 16.586 18 18 16.586 10.414 9 18 1.414Z' fill='#B1B8C9'/>
          </svg>
          Promowanie ogłoszenia</li>
          <li class="disabled"><svg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'>
            <path d='M18 1.414 16.586 0 9 7.586 1.414 0 0 1.414 7.586 9 0 16.586 1.414 18 9 10.414 16.586 18 18 16.586 10.414 9 18 1.414Z' fill='#B1B8C9'/>
          </svg>
          Nielimitowana ilość promowanych ogłoszeń</li>
        </ul>

        <button class="button">Wybierz</button>
      </div>
      <!--free plan ends -->

      <!--pro plan starts -->
      <div class="planItem planItem--pro">
        <div>
          <div class="card__header">
            <h2 style="font-size: 27px"><svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-gem" viewBox="0 0 16 16">
              <path d="M3.1.7a.5.5 0 0 1 .4-.2h9a.5.5 0 0 1 .4.2l2.976 3.974c.149.185.156.45.01.644L8.4 15.3a.5.5 0 0 1-.8 0L.1 5.3a.5.5 0 0 1 0-.6zm11.386 3.785-1.806-2.41-.776 2.413zm-3.633.004.961-2.989H4.186l.963 2.995zM5.47 5.495 8 13.366l2.532-7.876zm-1.371-.999-.78-2.422-1.818 2.425zM1.499 5.5l5.113 6.817-2.192-6.82zm7.889 6.817 5.123-6.83-2.928.002z"/>
            </svg>
            Profesjonalne konto</h2>
          </div>
          <div class="card__desc">
            Rozszerzone opcje dla bardziej zaawansowanych potrzeb.
          </div>
        </div>

        <div class="price">18 zł<span>/ miesiąc</span></div>

        <ul class="featureList">
          <li><svg width='18' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'>
            <path d='M16.552.134 5.717 10.97 1.448 6.701 0 8.149l5.717 5.717L18 1.583 16.552.134Z' fill='#fff'/>
          </svg>
          5 ogłoszeń</li>
          <li><svg width='18' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'>
            <path d='M16.552.134 5.717 10.97 1.448 6.701 0 8.149l5.717 5.717L18 1.583 16.552.134Z' fill='#fff'/>
          </svg>
          Zakładka obserwowane</li>
          <li><svg width='18' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'>
            <path d='M16.552.134 5.717 10.97 1.448 6.701 0 8.149l5.717 5.717L18 1.583 16.552.134Z' fill='#fff'/>
          </svg>
          Wsparcie techniczne</li>
          <li class="disabled"><svg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'>
            <path d='M18 1.414 16.586 0 9 7.586 1.414 0 0 1.414 7.586 9 0 16.586 1.414 18 9 10.414 16.586 18 18 16.586 10.414 9 18 1.414Z' fill='#fff'/>
          </svg>
          Promowanie ogłoszenia</li>
          <li class="disabled"><svg width='18' height='18' fill='none' xmlns='http://www.w3.org/2000/svg'>
            <path d='M18 1.414 16.586 0 9 7.586 1.414 0 0 1.414 7.586 9 0 16.586 1.414 18 9 10.414 16.586 18 18 16.586 10.414 9 18 1.414Z' fill='#fff'/>
          </svg>
          Nielimitowana ilość promowanych ogłoszeń</li>
        </ul>

        <button class="button button--pink">Wybierz</button>
      </div>
      <!--pro plan ends -->

      <!--entp plan starts -->
      <div class="planItem planItem--entp">
        <div class="card">
          <div class="card__header">
            <div class="card__icon"></div>
            <h2><svg width='42' height='42' fill='#000' xmlns='http://www.w3.org/2000/svg'>
              <path d='M3.813 11.077 21 1.155l17.187 9.922v19.846L21 40.845 3.813 30.923V11.077Z' stroke='#fff' stroke-width='2'/>
              <circle cx='21' cy='21' r='8' stroke='#fff' stroke-width='2'/>
            </svg>Biznesowe konto</h2>
          </div>
          <div class="card__desc">
            Zaawansowane narzędzia i wsparcie dla firmowych celów.
          </div>
        </div>

        <div class="price">199 zł<span>/ miesiąc</span></div>

        <ul class="featureList">
          <li><svg width='18' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'>
            <path d='M16.552.134 5.717 10.97 1.448 6.701 0 8.149l5.717 5.717L18 1.583 16.552.134Z' fill='#EA455F'/>
          </svg>
          Nielimitowane ogłoszenia</li>
          <li><svg width='18' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'>
            <path d='M16.552.134 5.717 10.97 1.448 6.701 0 8.149l5.717 5.717L18 1.583 16.552.134Z' fill='#EA455F'/>
          </svg>
          Zakładka obserwowane</li>
          <li><svg width='18' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'>
            <path d='M16.552.134 5.717 10.97 1.448 6.701 0 8.149l5.717 5.717L18 1.583 16.552.134Z' fill='#EA455F'/>
          </svg>
          Wsparcie techniczne</li>
          <li><svg width='18' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'>
            <path d='M16.552.134 5.717 10.97 1.448 6.701 0 8.149l5.717 5.717L18 1.583 16.552.134Z' fill='#EA455F'/>
          </svg>
          Promowanie ogłoszenia</li>
          <li><svg width='18' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'>
            <path d='M16.552.134 5.717 10.97 1.448 6.701 0 8.149l5.717 5.717L18 1.583 16.552.134Z' fill='#EA455F'/>
          </svg>
          Nielimitowana ilość promowanych ogłoszeń</li>
          <li><svg width='18' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'>
            <path d='M16.552.134 5.717 10.97 1.448 6.701 0 8.149l5.717 5.717L18 1.583 16.552.134Z' fill='#EA455F'/>
          </svg>
          Tło promocyjne ogłoszenia</li>
        </ul>

        <button class="button button--white">Wybierz</button>
      </div>
      <!--entp plan ends -->
    </div>
  </div>
</section>
